* {
  font-family: "Lucida Console", Monaco, monospace; 
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #2A1A1F;
  color: white;
}

.my-gallery {
  display: flex;
  flex-direction: column;
  align-items: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
}

#my-selected-photo {
  width: 50%;
  margin: 20px auto;
  display: none;
}

.par {
  text-align: center;
  margin: 10px;
}

.my-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-photo {
  border: 0.1rem solid white;
  border-radius: 0.7rem;
  margin: 0.5rem;
  width: 15%;
}